@charset "utf-8";
/* CSS Document */

body { margin:0px; padding:0px; font-size:12px; background-color:#ffffff; font-family: "宋体", Arial, Helvetica, sans-serif;}
ul { margin:0px; padding:0px;  height:auto;  display: block;}
li{ list-style:none; padding:0px; margin:0px;}
img{border:0;}
td{ font-size:12px;}

/*链接*/
a{ text-decoration:none; color:#000000;}
a:hover{ text-decoration:underline;}

.redmain{ color:#FF0000;}
.redmain a{ color:#FF0000;}

a.orange{ color:#fa5f02; text-decoration:none;}
a.orange:hover{ color:#000000;  text-decoration:underline;}

a.blueline{ color:#0051d7; text-decoration:underline; }
a.blueline:hover{ color:#0051d7; text-decoration:none;}

/*表单*/
.input1{  width:78px;  height:16px;  background:url(images/bg.gif) left -130px repeat-x;   border:1px solid #d3d1d1;  vertical-align:middle;  margin-right:5px;}
.input2{   width:41px; height:18px; line-height:18px; border:0; background: url(images/topuser.jpg) no-repeat;  vertical-align:middle;}


/*登录*/
.login{ width:968px; height:26px; padding-top:3px; background:#EFEEEE; border:1px solid #d0d0d0; color:#6d6d6d; margin:auto; }
.login select{   vertical-align:middle;}
.login_left{  width:auto;float:left; padding-left:10px; line-height:26px; color:#333;}
.login_left a{  margin-right:3px;vertical-align:middle; color:#333;}
.login_left a:hover{ color:#FF6600;}

.login_right{ width:auto; float:right;  padding:5px 6px 0 0;  color:#666666;}
.login_right img{  margin:0 3px 0 10px;  line-height:26px;}



/* 主导航 */
.mainnav{  width:968px; height:50px; text-align:left;  border:1px solid #d0d0d0; border-top:none; margin:auto;}
.mainnav .img{  float:left;}
.mainnav .link{  float:left;  height:30px;  padding:5px 10px;   line-height:20px;}
.mainnav .link a{  margin-right:10px; }
.mainnav .link a:hover{ color:#ff6000; }

.topxian{ float:left; width:9px; background:url(images/topxian.jpg) no-repeat; height:50px; padding:0 10px 0 10px;}


/*  头部广告 */
.topadv{ width:970px; height:auto; margin:0 auto; }




.row_clear0 {width: 970px; height:0; clear:both; border:0; margin:auto; font-size:0px; line-height:0px;}
.row_clear5 {width: 970px; height:5px; clear:both; border:0; margin:auto; font-size:0px; line-height:0px;}
.toprow_clear{ width:970px; height:5px; clear:both; border:0; margin:auto; font-size:0px; line-height:0px;}


/*底部*/
.foot{width:970px; margin:0 auto; height:auto; padding-top:10px;}
.foot .about{float:left; width:968px; height:25px; line-height:25px;  color:#7e7e7e; text-align:center; border:1px #edd7b9 solid;  background-color:#FFFFFF;}
.foot .about a{color:#7e7e7e;}
.foot .about a:hover{color:#b00000;}

.foot .text{ float:left; width:970px; padding-top:10px; text-align:center; line-height:20px;  color:#333333;}
.foot .banqan{float:left; width:970px; padding-top:10px; text-align:center; line-height:20px; background-color:#FFFFFF; color:#333333;}


.glst { padding:10px 0px 10px 0px;  height:auto; }
.glst ul{ margin:0px; padding:0px; }
.glst ul li{width:97%; padding-left:13px; list-style-type:none; text-align:left; height:25px; line-height:25px;  font-size:14px; }
.glst ul li a {color:#060199; text-decoration:none;}
.glst ul li a:hover {color:#DB0010; text-decoration:underline;}

.tm{ color:#969696; padding-right:15px; float:right;  font-size: 12px;}
.new_tit{float:left; width:70%;  white-space:nowrap;  overflow:hidden;}


.glsttitle {margin: auto;padding:0 0 5px 15px; margin-top:20px; width:95%; text-align:left; border-bottom: solid 2px #81A9CB; font-weight: bold; font-size: 16px; color:#DB0010;}
.glsttitle a{color: rgb(219,0,16); text-decoration: underline;}
.glsttitle a:hover{color: rgb(219,0,16); text-decoration: none;}



.adv970{width:970px; margin:auto;}
.row {width:970px; height:auto;  margin:0 auto;}

em{font-style:normal}



.stat {width:970px; height:22px; line-height:22px; margin: auto; text-align: left; background-color:rgb(255,240,240); border:0; border-top:solid 1px rgb(235,220,220);}
.stat span{margin-left:20px;}
.stat span a{color:rgb(6,1,153)}
.stat span a:hover{color:rgb(219,0,16)}


/*分页样式*/
.pagebar{ }
.pagebar ul{width:100%; height:21px; color:#253c9a; margin:0 auto; float:right;}
.pagebar li{ float:left; margin-left:7px;}
.pagebar span{width:23px; height:21px; line-height:21px; text-align:center; margin:0px auto 7px; display:inline-block; background:url(images/page2.png) no-repeat; color:#FFFFFF; font-weight:bold;}
.pagebar a{width:23px; height:21px; line-height:21px; background:url(images/page1.png) no-repeat; text-align:center; margin:0px auto 7px;  display:inline-block; color:Blue; text-decoration:underline;}
.pagebar a:hover{ text-decoration:none; color:#FF0000;}
.pagebar span.next{width:51px; background:url(images/page3.png) no-repeat; height:21px; color:#c4c4c4; font-weight:normal;}
.pagebar .next{ width:51px;background:url(images/page3.png) no-repeat; height:21px; text-align:center;}
.pagebar a.next{ width:51px;background:url(images/page3.png) no-repeat; height:21px;}

/*分页样式2*/
.pagebar2{ position:relative; float:right; right:50%; padding:20px 0;font-family: "微软雅黑", "Arial Narrow", HELVETICA;}
.pagebar2 li{margin-left:0; float:left; position:relative; left:50%;}
.pagebar2 li a,.pagebar2 li span{ display:block; width: 34px;height: 34px;line-height: 34px;border: 1px solid #e2e2e2;text-align: center;margin-right: 5px;font-size: 14px;color:#222; background:none;text-decoration: none;}
.pagebar2 li span,.pagebar2 li a:hover{background:#258cff;color: #fff; text-decoration:none;}
.pagebar2 a.next,.pagebar2 span.next{background:none;text-decoration: none;height:34px; width:auto; padding:0 12px;}
.pagebar2 span.next{color:#c4c4c4;color:#c4c4c4!important;}
.pagebar2 li span,.pagebar2 li a.next{ display:inline-block;}

/*视频*/
.video {float:left; padding:0; overflow:hidden;}
.video_i {}
.video_i a { display:block; color:#444; text-decoration:underline;}
.video_i a:hover { color:#f00; text-decoration:underline; }
.video_i a img { border:#ccc 1px solid; padding:2px; }
.video_i a:hover img { border:#999 1px solid;  }
.video_i_t {  display:block; line-height:20px; text-align:center;}
.aBg1{ position:relative; zoom:1; display:block; }
.aBg1 .jn_icon {position:absolute; border:medium none;  bottom:3px; left:3px; }

.pic-border{padding:1px; border:solid 1px #eee;}

.rss{ background:url("http://theme.tjkximg.com/images/rss.gif") no-repeat; font-size:14px; font-weight:bold; padding: 0 0 0 16px; height:20px; }


/************** boxy begin ***************/
.boxy-wrapper { position: absolute; }
.boxy-wrapper.fixed { position: fixed; }
/* Modal */
.boxy-modal-blackout { position: absolute; background-color: #ddd; left: 0; top: 0; }
/* Border */
.boxy-wrapper { empty-cells: show; }
.boxy-wrapper .top-left,
.boxy-wrapper .top-right,
.boxy-wrapper .bottom-right,
.boxy-wrapper .bottom-left { width: 10px; height: 10px; padding: 0 }
.boxy-wrapper .top-left { background: url('images/boxy-nw.png'); }
.boxy-wrapper .top-right { background: url('images/boxy-ne.png'); }
.boxy-wrapper .bottom-right { background: url('images/boxy-se.png'); }
.boxy-wrapper .bottom-left { background: url('images/boxy-sw.png'); }
/* IE6+7 hacks for the border. IE7 should support this natively but fails in conjuction with modal blackout bg. */
/* NB: these must be absolute paths or URLs to your images */
.boxy-wrapper .top-left { #background: none; #filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://theme.tjkximg.com/www/page/images/boxy-nw.png'); }
.boxy-wrapper .top-right { #background: none; #filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://theme.tjkximg.com/www/page/images/boxy-ne.png'); }
.boxy-wrapper .bottom-right { #background: none; #filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://theme.tjkximg.com/www/page/images/boxy-se.png'); }
.boxy-wrapper .bottom-left { #background: none; #filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://theme.tjkximg.com/www/page/images/boxy-sw.png'); }
.boxy-wrapper .top,
.boxy-wrapper .bottom { height: 10px; background-color: black; opacity: 0.6; filter: alpha(opacity=60); padding: 0 }
.boxy-wrapper .left,
.boxy-wrapper .right { width: 10px; background-color: black; opacity: 0.6; filter: alpha(opacity=60); padding: 0 }
/* Title bar */
.boxy-wrapper .title-bar { background-color: black; padding: 6px; position: relative; }
.boxy-wrapper .title-bar.dragging { cursor: move; }
.boxy-wrapper .title-bar h2 { font-size: 12px; color: white; line-height: 1; margin: 0; padding: 0; font-weight: normal; }
.boxy-wrapper .title-bar .close { color: white; position: absolute; top: 6px; right: 6px; font-size: 90%; line-height: 1; }
/* Content Region */
.boxy-inner { background-color: white; padding: 0 }
.boxy-content { padding: 15px; }
/* Question Boxes */
.boxy-wrapper .question { width: 350px; min-height: 80px; }
.boxy-wrapper .answers { text-align: right; }
/************** boxy end ***************/


/************** v9 begin ***************/

/*底部*/
.v9footer{ margin:0 auto; width:950px; height:auto; padding-top:10px;}
.v9footer .links{float:left; width:948px; height:25px; line-height:25px;  color:#7e7e7e; text-align:center; border:1px #edd7b9 solid;  background-color:#FFFFFF;}
.v9footer .links a{color:#7e7e7e;}
.v9footer .links a:hover{color:#BD0A01;}

.v9footer .banqan{float:left; width:950px; padding-top:10px; text-align:center; line-height:20px; background-color:#FFFFFF; color:#333333;}

/******************* v9 end ****************/


/*弹出登录层样式*/
#loginBox .none{ display:none;}
#loginBox{width:300px; padding:0 40px 8px 40px; position:relative;}
.plogin .inputOuter{width:250px;height:42px;background:url(http://theme.tjkximg.com/b2b/v11/images/c_icon_2_tiny.png) no-repeat 0 0;_background:url(http://imgcache.qq.com/ptlogin/v4/style/20/images/c_icon_2.png) no-repeat 0 0;}

.plogin .inputstyle{width:220px;position:relative;top:2px;left:2px;height:18px;padding:11px 0 11px 25px;line-height:18px;border:none;background:none;color:#333;font-family:Verdana,Tahoma,Arial;font-size:16px;ime-mode:disabled;}
.plogin .input_tips{position:absolute;top:13px;+top:15px;left:30px;font-size:14px;line-height:16px;color:#aaa;cursor:text;}

.plogin .uinArea{height:55px;position:relative;z-index:10;}
.plogin .uin_icon{position:absolute;left:10px;top:12px;background:url(http://theme.tjkximg.com/b2b/v11/images/c_icon_2_tiny.png) no-repeat -179px -160px;_background:url(http://imgcache.qq.com/ptlogin/v4/style/20/images/c_icon_2.png) no-repeat -179px -160px;width:16px;height:18px;}
.plogin .p_icon{position:absolute;left:10px;top:12px;background:url(http://theme.tjkximg.com/b2b/v11/images/c_icon_2_tiny.png) no-repeat -201px -160px;_background:url(http://imgcache.qq.com/ptlogin/v4/style/20/images/c_icon_2.png) no-repeat -201px -160px;width:16px;height:18px;}
.plogin .uin_del{width:21px;height:21px;cursor:pointer;position:absolute;right:20px;top:10px;background:url(http://theme.tjkximg.com/b2b/v11/images/c_icon_2_tiny.png) no-repeat -116px -160px;_background:url(http://imgcache.qq.com/ptlogin/v4/style/20/images/c_icon_2.png) no-repeat -116px -160px;display:none;}
.plogin .uin_del:hover{background-position:-139px -160px;}
.plogin .email_list{border:1px solid #70c2ec;background:#fff;width:242px;position:absolute;z-index:10;display:none;border-radius:1px;padding:1px;left:2px;}
.plogin .email_list li,.plogin .email_list p{height:31px;line-height:31px;margin:0;overflow:hidden;padding-left:10px;}
.plogin .email_list p{height:16px;line-height:10px;}
.plogin .email_list .hover{background:#cbe2fa;}
.plogin .pwdArea{height:55px;position:relative;z-index:3;}
.plogin .lock_tips{position:absolute;top:32px;left:-15px;height:16px;padding:5px;text-align:center;display:none;border:1px solid #dad699;background:#f9f5c7;border-radius:2px;}
.plogin .lock_tips .lock_tips_row{position:absolute;top:-6px;left:25px;width:12px;height:6px;background:url(http://theme.tjkximg.com/b2b/v11/images/c_icon_2_tiny.png) no-repeat -162px -168px;_background:url(http://imgcache.qq.com/ptlogin/v4/style/20/images/c_icon_2.png) no-repeat -162px -168px;}
.plogin .submit{position:relative;height:40px;top:6px;}
.plogin .login_button{position:absolute;left:0;outline:none;}
.plogin .login_button .btn{width:92px;height:35px;line-height:35px;border:none;font-size:14px;font-weight:bold;color:#fff;cursor:pointer;background:url(http://theme.tjkximg.com/b2b/v11/images/c_icon_2_tiny.png) no-repeat 0 -90px;_background:url(http://imgcache.qq.com/ptlogin/v4/style/20/images/c_icon_2.png) no-repeat 0 -90px;}
.plogin .login_button:hover .btn{background-position:-97px -90px;}
.plogin .login_button:hover{text-decoration:none;}
.plogin .low_login{position:absolute;left:140px;top:12px;}
.plogin .low_login .uncheck,.plogin .low_login .checked{float:left;height:16px;width:16px;}
.plogin .low_login .p_low_login_wording{height:14px;line-height:14px;line-height:16px\9;cursor:pointer;margin-left:5px;}
.plogin h3{ padding-bottom:40px;color:#808080; font-weight:bold;}

.bottom{text-align:right;font-size:12px;clear:both;position:relative;height:46px;line-height:46px;padding-right:10px;z-index:1002; padding-top:30px;}
.bottom .link{color:#808080;}
.bottom .dotted{color:#bfbfbf;margin:0 5px;}
.bottom .low_login{position:absolute;right:245px;top:17px;height:18px;}
.bottom .low_login .checked,.bottom .low_login .uncheck{width:16px;height:16px;float:left;}
.bottom .low_login .low_login_wording{float:left;height:14px;line-height:14px;line-height:16px\9;margin-left:5px;color:#b5bbc1;cursor:pointer;}

.error_tips{text-align:center;padding:5px;border:1px solid #ecc36c;background:#f5ecbb;border-radius:2px;width:236px; position:absolute; top:0;}.error_tips .error_logo{position:absolute;left:3px;top:7px;height:14px;line-height:14px;width:18px;background:url(http://theme.tjkximg.com/b2b/v11/images/c_icon_2_tiny.png) no-repeat -3px -164px;_background:url(http://imgcache.qq.com/ptlogin/v4/style/20/images/c_icon_2.png) no-repeat -3px -164px;}.error_tips .err_m{display:inline-block;padding-left:15px;line-height:16px;color:#383838;vertical-align:middle;text-align:left;width:220px;}.loading_tips{display:none;position:absolute;text-align:center;width:100%;}.loginTips{ height:29px; padding-top:0; margin-top:10px;}