@charset "utf-8";
/* CSS Document */

.pingd{ width:968px; margin:auto; height:54px; background:url(images/busi__navbg.jpg) repeat-x; border:1px solid; color:#D2D2D2;}
.pingd .img{  float:left; padding:5px 0 0 7px;}
.pingd .yuxian{ float:left; padding:0 10px 0 10px;}
.pingd  .name{ float:left; padding-top:10px; line-height:18px; color:#000000;}
.pingd .name .up{ font-family:"黑体"; font-weight:bold; font-size:18px;}
.pingd  .name .down{ font-family:Arial, Helvetica, sans-serif; font-size:12px;}
.pingd  .miansearch{ float:left; width:420px; padding-left:30px;}
.pingd .keywords{ float:right; padding-right:10px; width:250px;}

.news_hot{float:left;  width:100%; padding:7px 0 0 0; overflow:hidden; color:#A59B9B;}
.news_hot ul{margin:0; padding:0;}
.news_hot li{ padding-left:13px; list-style-type:none; text-align:left; background:url(images/fh.gif) no-repeat left center; margin-left:3px;}
.news_hot li a {line-height:20px;  color:#A59B9B;}
.news_hot li a:hover{color:#b00000;}
.wid0{ float:left; width:42%; overflow:hidden; }

.miansearch{ float:left; width:420px; padding-left:30px;}
.miansearch-yellow{float:left; height:23px; line-height:23px; padding:4px 0 0 13px;}
.miansearch-yellow-item {float:left; width:44px; height:23px;  line-height:23px;  text-align:center; cursor:pointer;}
.miansearch-yellow-item-yellow {background:url(images/xgtopan.gif) no-repeat; color:#502c02;}
.miansearch-yellow-item-noyellow{ color:#502c02;}
.miansearch-yellow-content {float:left; width:400px; height:auto; margin-top:1px;}

.miansearch_button{float:left; width:50px;  height:21px; line-height:21px; border:0; background:url(images/bouttsbg.jpg) repeat-x;}
.miansearch_inputWarp{float:left; width:340px;  height:19px; line-height:19px; border:#f5dbcc 1px solid;    text-align:left; color:#494646; }
.inp_text{ padding-left:3px;}